@import "/src/styles/variables.scss";

.login-page {

  .card {
    background-color: $primary;
    color: $neutral-1;
    border: none;
  }

  .form-label {
    color: $neutral-1; 
  }
  
  .form-control {
    background-color: transparent;
    border: 2px solid $grey;
    color: $neutral-1; 

    &::placeholder {
      color: darken($neutral-1, 30%);
    }

    &:focus {
      background-color: transparent;
      color: $neutral-1;
      border-color: $secondary;
      box-shadow: none; 
    }
  }

  .password-input-wrapper {
    position: relative; 
  }

  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 15px; 
    transform: translateY(-50%);
    color: $grey; 

    &:hover {
      color: darken($grey, 20%);
    }
  }

  .btn-primary {
    background-color: $secondary;
    border-color: $secondary;

    &:hover {
      background-color: darken($secondary, 10%);
      border-color: darken($secondary, 10%);
    }
  }
}