// Cores
    $primary: #9BCD9D;
    $secondary: #2e7d32;
    $tertiary: #d9d9d9;
    $neutral-1: #000000;
    $neutral-2: #FFFFFF;
    $grey: #424242;
    $blue: #1976D2;
    $red: #FB3737;

:export {
    $primary: #9BCD9D;
    $secondary: #2e7d32;
    $tertiary: #d9d9d9;
    $neutral-1: #000000;
    $neutral-2: #FFFFFF;
    $grey: #424242;
    $blue: #1976D2;
    $red: #FB3737;
}
