@import "/src/styles/variables.scss";

.stat-card {
  background-color: $neutral-2;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid transparent;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  
  .card-info {
    display: flex;
    flex-direction: column;
    .card-title {
      font-size: 16px;
      color: $grey;
    }
    .card-value {
      font-size: 48px;
      font-weight: bold;
      color: $blue;
    }
  }

  .card-icon {
    color: $grey;
  }
}